body {
    font-family: Open Sans, Arial, Verdana, sans-serif; 
    background-color: #ffffff; 
    color: #3b3b38;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin:auto;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
h1 {
    font-size: 2em;
    font-weight: bold; 
    color:  #FBCB44;
  }
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: normal;
 }
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
p {
    line-height: 1.5;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline;
}
.list-header {
    font-style: italic;
    }
.container {
    height: 250px;
    }
.container, 
.social-icon-list,
section, 
nav {
    margin: 0 auto; 
    max-width: 1000px;
    padding: 0 20px 0 20px;
    }
.main-info img {
    width: 220px;
    border-radius: 1000px;
    display: block;
    margin: 20px auto;
}
.main-info {
    width: 450px;
    float: left;
}
.social {
    height: 220px;
    float: left;
    margin: 20px auto;
}
.social-icon {
    background-color: #FBCB44;
    margin-top: 20px;
    height: 50px;
}
.menu-item {
    float: left;
    margin-right: 50px;
    padding: 10px;
}
hr {
    border: none;
    background-color: #FBCB44;
    color: #FBCB44;
    height: 5px;
    width: 10%;
    margin-left: 0;
   }
.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social h3 {
    margin: 0;
}
.social h2 {
    margin-top: 10px;
}
.social h1 {
    margin-bottom: 10px;
}
.social ul li {
    padding: 5px 0 5px 0;
}
.name {
    margin-bottom:40px;
}
.contacts-list {
    padding-left: 20px;
    font-weight: normal;
}
.contacts li {
    font-weight: bold;
}
.about h3,
.skills h3,
.code h3,
.education h3,
.language h3,
.code-ex {
text-align: center;
padding-top: 40px;
color: #FBCB44;
}
.block h3 {
    color:  #FBCB44;
    padding-right: 10px;
}
section li {
    padding: 5px 0px 5px 0px;
}
.main-block {
    display: inline-flex;
    width: 100%;
}
.block {
    display: flex;
    width: 50%;
    
}
.sk-block {
    float: none;
    padding-bottom: 20px;
}
li {
    line-height: 1.3;
}
section hr {
    border: none;
    background-color: #FBCB44;
    color: #FBCB44;
    width: 100%;
    height: 2px;
   }
code {
    color: #666666;
    font-style: normal;
   }
pre {
    margin: 0.5em 2em;
    white-space: pre-line;
    font-style: normal;
   }
.example {
    background: #fff7e1;
    padding: 10px;
   }
.block-highlight {
    width: 98%;
    display: block;
    padding: 10px;
    line-height: 1.5;
   } 
.token.punctuation {
    color: #999999;
   }
.token.string {
    color: #669900;
   }
.token.tag {
    color:#905; 
   }
.token.function {
    padding-left: 20px;
}
.date {
    color:#FBCB44;
}
.education {
    padding-bottom: 40px;
}
.ed-list {
    padding-bottom: 10px;
}
footer {
    background-color: #212121;
    padding: 48px 24px;
}
nav {
    position: relative;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
footer nav {
    padding: 20px 0 20px 0;
}
nav ul {
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav li {
    float: left;
    margin-right: 40px;
    color: #ffffff;
}
.year {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}
@media (max-width: 1000px) {
    .main-block {
        display: block;
    }
    .block {
        display: block;
        width: 100%;
    }
    nav ul {
        list-style: none;
        position: absolute;
        left: 0;
        transform: translateX(0);
    }
    nav li {
        float: none;
        margin-right: 0;
        color: #ffffff;
        padding-top: 10px;
    }
    .container {
        height: auto;
        display: block;
        width: 100%;
    }
    .main-info {
        width: 100%;
        float: none;
    }
    .social {
        height: auto;
        float: none;
        padding: 10px;
        width: 100%;
    }
}
